@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

:root{
    --cor01: #D4AE17;
    --cor02: #DEA318;
    --cor03: #C7851F;
    --cor04: #DE7418;
    --cor05: #D45317;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Contrail One', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
}

header{
    background-color: whitesmoke;
    height: auto;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

body{
    background-color: var(--cor03);
}

main{
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    text-align: justify;
    margin: auto;
    padding: 10px;
}

h1{
    font-family: var(--font-destaque);
    padding: 10px;
    font-size: 1.8em;
}

h2{
    font-family: var(--font-destaque);
    padding: 5px;
    margin: 2px;
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--cor02), transparent);
    text-indent: 8px;
}

p{
    padding: 10px;
    font-weight: 1.5em;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

div#primeiro{
    margin: auto;
    background-color: gray;
    border-radius: 10px;
    height: 300px;
    width: 100%;
    background-image: url('images/img_1.jpg');
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.295);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: inline-block;
}

div#segundo{
    margin: auto;
    background-color: gray;
    border-radius: 10px;
    height: 300px;
    width: 100%;
    background-image: url('images/img_2.jpg');
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.295);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: inline-block;
}

footer{
    background-color: whitesmoke;
    border-radius: 3px;
    text-align: center;
    width: auto;
    margin: 10px;
    padding: 5px;
}